<div class="mb-3 m-5 p-5 h-75 forms display">
    <form (ngSubmit)= "showUserRepo()" #x="ngForm" >
        <label for="exampleFormControlInput1" class="form-label">Repositories :</label>

        <input type="text" class="form-control" id="exampleFormControlInput1"  ngModel  name= "derrick" #derrick ="ngModel" placeholder="Search Github Repositories...">
        <br>
        <div class="button">
            <button type="submit" class="btn btn-outline-info">Search Repositories</button>
        </div>
    </form>
</div>
<div class="container"  >
        <div class="row">
        <div class="col-md-4 home" *ngFor ="let repos of repoGet">
            <div class="display1">
                <div class="content">
                    <h3>{{repos.name}}</h3>
                    <p>{{repos.description}}</p>
                    <p>Created On : {{repos.created_at | date}}</p>
                    <div class="submit">
                        <div class="btns">
                            <a href="{{repos.html_url}}">View Repositories</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>