
<div class="container">
    <div class="row">
        <div class="card col-md-6 mt-5 p-1 text-center" style="width: 20rem;">
            <img [src]="username?.avatar_url" class="card-img-top" alt="My profile picture">
            <div class="card-body">
              <h5 class="card-title">{{username?.login}}</h5>
              <p class="card-text">{{username?.bio}}</p>
              <p>Joined On : {{username?.created_at | date}}</p>
              <p><i class="fa fa-user" aria-hidden="true"></i>{{username?.followers}}</p>
              <p><i class="fa fa-user" aria-hidden="true"></i>{{username?.following}}</p>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                <h4>{{username?.name}}</h4>
                <hr>
                <a href="https://github.com/derrickmacharia">View site {{username?.html_url}}</a>
                <hr>
                <h4>{{username?.public_repos}}</h4>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let userRepo of repositories; let i = index ">
            <div class="">
                <h3>{{userRepo.name}}</h3>
                <p>{{userRepo.description}}</p>
                <a href="{{userRepo.html_url}}">View Repositories</a>
                <p>Created On : {{userRepo.created_at | date}}</p>
            </div>
        </div>
    </div>
</div>


